yc_token     = "replace-me"
yc_cloud_id  = "replace-me"
yc_folder_id = "replace-me"

ssh_keys = [
  {
    user = "ubuntu"
    key  = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEXAMPLEKEYFORLAPTOP user1@laptop"
  },
  {
    user = "ubuntu"
    key  = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEXAMPLEKEYFORWORK user2@work"
  }
]
