yc_token           = "paste_your_token_here"
yc_cloud_id        = "paste_your_cloud_id_here"
yc_folder_id       = "paste_your_folder_id_here"

yc_zone            = "ru-central1-a"
vm_name            = "superuart-vm"
vm_hostname        = "superuart"
vm_cores           = 2
vm_memory          = 2
boot_disk_size_gb  = 20
ssh_user           = "ubuntu"
ssh_public_key_path = "~/.ssh/id_ed25519.pub"
